API_BASE_URL=https://api.telegram.org
HOOK_ENDPOINT=https://api.thdorsan.com/api/v1/telegram-hook
HOOK_SECRET_TOKEN=
ALLOWED_TOKENS=8565888296:AAG7BP67Q2F57uvOm9KkGelq0R1jz514WUI
HOST=0.0.0.0
PORT=5000

# Queue
QUEUE_DB_PATH=/data/queue.db
MAX_RETRIES=8
WORKER_POLL_INTERVAL=0.1
WORKER_BATCH_SIZE=10

# Rate Limits
RATE_LIMIT_GLOBAL=28
RATE_LIMIT_CHAT_PRIVATE=1
RATE_LIMIT_CHAT_GROUP=20
RATE_LIMIT_CHAT_GROUP_WINDOW=60
